<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TechZone - Accueil</title>
    <style>
        body { font-family: sans-serif; text-align: center; margin-top: 50px; }
        h1 { color: #2c3e50; }
        .success-box { 
            border: 2px solid green; 
            padding: 20px; 
            display: inline-block; 
            border-radius: 10px;
            background-color: #e8f5e9;
        }
    </style>
</head>
<body>

    <div class="success-box">
        <h1>🎉 Félicitations !</h1>
        <p>Si vous voyez ce message, votre Frontend Thymeleaf est connecté.</p>
        <p>Le backend et le frontend se parlent.</p>
    </div>

</body>
</html>